@(message: String)(myForm: Form[models.SearchCriteria])(myCodes: IcdResultSet)
@import java.lang.String; var first=""

@main("WinguMD.com ICD-10 Fast Search") {

    <div class="container-fluid">
        <div class="span12 text-center">
            <h2>ICD-10 Fast Search BETA</h2>
            <h4>Find Your ICD-10 Code in Just a Few Mobile Taps</h4>
            @helper.form(action = routes.Application.search()) {
                @helper.inputText(myForm("filter"), '_label -> "Add just a few keywords describing the condition, and press Enter.", 'size -> 35)
            }
            <H4>@message</H4>
        </div>
        <div id="btn-tray">
                <a class="btn btn-warning" type="button" href="/">Start Over</a>
                @for(oneTag <- myCodes.tags.toSeq) {
                    @if(first != oneTag.charAt(0).toString().toUpperCase()) {
                        @(first = oneTag.charAt(0).toString().toUpperCase())
                        @if(first >= "A" && first <= "Z") {
                            <button type="button" class="btn btn-success disabled">@first</button>
                        }
                    }
                    <button type="button" class="btn btn-primary tags clickable" data-tag="@oneTag">@oneTag</button>
                }

        </div>
    </div>

    <div class="container-fluid" style="cursor:pointer;">
        <P>&nbsp;</P>
        <span style="color:gray;">Tap the ICD-10 code button to explore more on the web.</span>
        <br/>
        Share this result! &nbsp;
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Found my #ICD-10 Code in a few screen taps." data-via="bodymapsnap">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ICD-10</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            @myCodes.codeValues.map { oneCodeValue =>
                <tr>
                    <td><a type="button" class="btn btn-success" href="@oneCodeValue.url" target="_blank">@oneCodeValue.icd10Code</a></td>
                    <td>@oneCodeValue.desc</td>
                </tr>
            }
            </tbody>
        </table>
   </div>

<script type="text/javascript">
    $(document).ready(function(){

        $('button.tags').on('click', function(e){
        var $this = $(this);
        var txtFieldEl = $('[name=filter]');
        //var searchQry = txtFieldEl.val() + ' ' +  $this.data('tag'));
        txtFieldEl.val(txtFieldEl.val() + ' ' +  $this.data('tag'));
        $('form').submit();
        });

    });
</script>
}
