@(message: String)(myForm: Form[models.SearchCriteria])(myCodes: IcdResultSet)

@main("WinguMD.com ICD-10 Fast Search") {

    <div class="container-fluid">
        <div class="span12 text-center">
            <h2>ICD-10 Fast Search BETA</h2>
            @helper.form(action = routes.Application.search()) {
                @helper.inputText(myForm("filter"), '_label -> "Add just a few keywords describing the condition, and press Enter.", 'size -> 35)
            }
            <span style="color:gray;">@message</span>
        </div>
        <div id="btn-tray">
            <a class="btn btn-warning" type="button" href="/">Start Over</a>
            @for(oneTag <- myCodes.tags.toSeq) {
                <button type="button" class="btn btn-info tags clickable" data-tag="@oneTag">@oneTag</button>
            }
        </div>
    </div>

    <div class="container-fluid" style="cursor:pointer;">
        <span style="color:gray;">Tap the ICD-10 code to explore more on the web.</span>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ICD-10</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            @myCodes.codeValues.map { oneCodeValue =>
                <tr>
                    <td><a type="button" class="btn btn-success" href="@oneCodeValue.url" target="_blank">@oneCodeValue.icd10Code</a></td>
                    <td>@oneCodeValue.desc</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
<script type="text/javascript">
    $(document).ready(function(){

        $('button.tags').on('click', function(e){
        var $this = $(this);
        var txtFieldEl = $('[name=filter]');
        //var searchQry = txtFieldEl.val() + ' ' +  $this.data('tag'));
        txtFieldEl.val(txtFieldEl.val() + ' ' +  $this.data('tag'));
        $('form').submit();
        });

    });
</script>
}
