@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="apple-touch-icon" sizes="57x57" href="@routes.Assets.versioned("images/apple-icon-57x57.png")">
        <link rel="apple-touch-icon" sizes="60x60" href="@routes.Assets.versioned("images/apple-icon-60x60.png")">
        <link rel="apple-touch-icon" sizes="72x72" href="@routes.Assets.versioned("images/apple-icon-72x72.png")">
        <link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.versioned("images/apple-icon-76x76.png")">
        <link rel="apple-touch-icon" sizes="114x114" href="@routes.Assets.versioned("images/apple-icon-114x114.png")">
        <link rel="apple-touch-icon" sizes="120x120" href="@routes.Assets.versioned("images/apple-icon-120x120.png")">
        <link rel="apple-touch-icon" sizes="144x144" href="@routes.Assets.versioned("images/apple-icon-144x144.png")">
        <link rel="apple-touch-icon" sizes="152x152" href="@routes.Assets.versioned("images/apple-icon-152x152.png")">
        <link rel="apple-touch-icon" sizes="180x180" href="@routes.Assets.versioned("images/apple-icon-180x180.png")">
        <link rel="icon" type="image/png" sizes="192x192"  href="@routes.Assets.versioned("images/android-icon-192x192.png")">
        <link rel="icon" type="image/png" sizes="32x32" href="@routes.Assets.versioned("images/favicon-32x32.png")">
        <link rel="icon" type="image/png" sizes="96x96" href="@routes.Assets.versioned("images/favicon-96x96.png")">
        <link rel="icon" type="image/png" sizes="16x16" href="@routes.Assets.versioned("images/favicon-16x16.png")">
        <link rel="manifest" href="@routes.Assets.versioned("images/manifest.json")">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content=@routes.Assets.versioned("/ms-icon-144x144.png")">
        <meta name="theme-color" content="#ffffff">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-68404499-1', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()">
                        <img src="@routes.Assets.versioned("images/wingu-white.png")" height="20px"/></a>
                </div>
            </div>
        </nav>
        @content
        <div class="footer">
            <div class="container text-center">
                <a href="http://wingumd.com" target="_blank">
                <img align="center" src="@routes.Assets.versioned("images/bodyMap_logo-white.png")" height="200px"/>
                </a>
                <h3>WinguMD BodyMapSnap</h3>
                <h4>The new standard for mobile medical photography.</h4>
               <a href="http://wingumd.com" type="button" class="btn btn-success">Learn More!</a>
                <br/>&nbsp;
                    <p class="text-muted">&copy;2015 WinguMD, Inc. Palo Alto, California. All rights reserved.
                <br/>This is a promotional product. Using the ICD-10 CM FY 2016 data set.
                <br/>This open source product is provided to you under the terms of the <a href="@routes.Application.lic()">MIT license.</a></p>
            </div>
        </div>
    </body>
</html>
